/* GENERAL */
p, table{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 162%;
    text-align: justify;
}

h2{
    color: #FF6738;
    font-family: 'Francois One', sans-serif;
    font-size: 48px;    
    font-weight: normal;
    text-transform: uppercase;
}

h3{    
    color: #FF6738;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;    
    font-weight: 900;
    text-transform: uppercase;
}

h1, h2, h3{
    margin-top: 0;
    margin-bottom: 0;
}

body{
    overflow-x: hidden;
}

section{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* HEADER */
#main-header{
    background-color: #FFD59E;
    padding-top: 17px;
}

#main-header h1{
    color: #FF6738;
    font-family: 'Francois One', sans-serif;
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 25px;
    float: left;
}

#main-header h2{
    color: #FF6738;
    font-family: 'Francois One', sans-serif;
    font-size: 34px;
    font-weight: 400;
    padding: 8px 0px 12px 0px;
    border-bottom: 9px solid #FF6738;
    margin-left: 346px;
}

#main-header nav{
    background-color: #FF6738;
    padding: 13px 0 13px 0;
    margin-top: 62px;
}

#main-header nav ul{
    list-style: none;
    margin: 0 auto;
    padding-left: 80px;
}

#main-header nav ul li{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0 8px 0 8px;
}

#main-header nav ul li a{
    color: #ffffff;
    text-decoration: none;
}

#main-header nav ul li a:hover{
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}

/* MAIN */
#intro{
    height: 297px;
}

#intro article h3{
    text-transform: none;
    color: #FFA938;
}
#intro article{
    width: 60%;
    float: left;
    padding: 0 33px 0 33px;
    max-height: 297px;
    overflow: hidden;
}

#intro img{
    object-fit: cover;
    width: 327px;
    height: 297px;
    float: left;
}

#intro article p{
    border-bottom: 9px solid #FF6738;
    min-height: 233px;
    max-height: 233px;
}

#fondateur{
    background-color: #FFD59E;
    margin: 0 -100% 0 -100%;
    min-height: 791px;
}

#fondateur p{
    padding: 0 85px 0 85px;
    column-count: 2;
    column-gap: 20px;
    overflow: hidden;
    margin-top: 30px;
}

#contact form input, textarea{
    background: #FFD59E;
    border-radius: 5px;
    border: none;
    margin: 15px 10px 15px 10px;
    padding: 20px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}

::placeholder{
    color: #B7B7B7;
}

/* FOOTER */
footer{
    background-color:  #c4c4c4;
    padding-top: 24px;
    padding-bottom: 70px;
}
#main-footer h2{
    color: #FF6738;
    font-family: 'Francois One', sans-serif;
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    margin-right: 95px;
}

#main-footer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 100%;
}

#ribbon-footer{
    margin-top: 14px;
}

/* UTILITIES */
#slogan{
    text-transform: none;
    color: #FF6738;
}

.wrap1024{
    margin: 0 auto;
    width: 1024px;
}

.imgfull{
    object-fit: cover;
    width: 1024px;
    max-height: 300px;
}

.imgnormal{
    width: 502px;
    height: 292px;
}

.businessman{
    background: url("businessman.jpg");
    background-position: center;
    height: 41px;
    padding-top: 323px;
    padding-right: 30px;
    text-align: right;
}

.ribbon-title{
    color: #FF6738;
    flex: auto;
    white-space: nowrap;
    margin: 20px;
}

.ribbon{
    width: 100%;
    height: 54px;
    margin-top: 27px;
    flex: auto;
    background: #FF6738;
}

.flex-container-row{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.flex-container-inline{
    display: flex;
}

.flex-item{
    width: 502px;
    height: 292px;
    margin: 25px 0px;
}

.space70px{
    width: 70px;
    flex: auto;
}

.box1{
    width: 395px;
    height: 26px;
}

.box2{
    width: 656px;
    height: 26px;
}

.box3{
    width: 975px;
    height: 245px;
    resize: none;
}

button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    margin-left: 627px;
    
    color: #FFFFFF;

    background: #FF6738;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    width: 310px;
    height: 86px;
}

table{
    margin-top: 50px;
}

caption{
    color: #FF6738;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 20px;
}

th{
    padding: 5px 5px 5px 10px; 
    text-transform: uppercase;
    color: #c4c4c4;
    font-weight: normal;
    font-size: 20px;
}

tbody{
    background-color: #FFD59E;
}

td{
    padding: 10px 20px 10px 20px;
}

table tr td:first-child{
    padding: 5px 5px 8px 10px; 
    text-transform: uppercase;
    color: #ffffff;
    background-color: #c4c4c4;
    font-weight: normal;
    border-left: 8px solid#FF6738;
}

td:nth-child(3){
    vertical-align: bottom;
    width: 90px;
    text-align: right;
}

td:last-child{
    vertical-align: bottom;
    width: 50px;
}